/* Util --------------------------------------- */
.gray-1 {
  color: #f9f8f7;
}

.gray-2 {
color:#ece9e8
}

.gray-3 {
  color:#c0b6b1
}

.gray-4 {
  color:#736d6a
}

.gray-5 {
  color:#262423
}

.orangered {
  color:orangered
}

.blueviolet {
  color:blueviolet;
}

.font-3xl {
  font-size: 9.044rem;
}

.font-2xl {
  font-size: 6.396rem;
}

.font-xl {
  font-size: 4.523rem;
}

.font-l {
  font-size: 3.199rem;
}

.font-m {
  font-size: 2.262rem;
}

.font-s {
  font-size: 1.6rem;
}

.font-xs {
  font-size: 1.132rem;
}

.font-2xs {
  font-size: 0.8rem;
}

.bold {
  font-weight: bold;
}

.letter-spacing-10 {
  letter-spacing: -0.1rem;
}

.letter-spacing-15 {
  letter-spacing: -0.15rem;
}

.letter-spacing-20 {
  letter-spacing: -0.2rem;
}



/* index.html ------------------------------------ */







/* moreInfo.html ------------------------------------ */

.ticketOption {
  background: wheat;
  font-family: monospace, system-ui, sans-serif;
  font-style: normal;
  text-decoration: : none;
  font-variant: normal;
  font-weight: normal;
  font-size:1em;
  color: black;
  display: inline-block;
  padding: 2px;
}

.ticketOption{
  display: grid;
  border: 1px solid grey;
  grid-template-rows: 50px;
  float: left;
  width: 33.33%;
  padding: 20px;
}

.ticketOption ul{
  height: 70px;
}

.ticketPrice{
  width: 100%;
  padding: 15px;
  color: brown;
}

.sectionHead::after{
  content: "";
  display: table;
  clear: both;
}


.accDescription{
  font-family: monospace, system-ui, sans-serif;
  font-style: normal;
  text-align: left;
  text-decoration: : none;
  font-variant: normal;
  font-weight: normal;
  font-size:0.3em;
  color: darkcyan;
  display: inline-block;
  padding: 2px;
}

.accOpeningHours{
  font-family: monospace, system-ui, sans-serif;
  font-style: normal;
  text-decoration: none;
  font-variant: normal;
  font-weight: normal;
  font-size:0.9em;
  color: white;
  padding: 1px;
}

.accContact{
  font-style: normal;
  text-decoration:underline;
  font-variant: normal;
  font-weight: normal;
  font-size:0.6em;
  color: white;  
}

.accDetails{
  font-family: monospace, system-ui, sans-serif;
  font-style: normal;
  text-align: left;
  text-decoration: : none;
  font-variant: normal;
  font-weight: normal;
  font-size:0.3em;
  color: darkblue;
  display: inline-block;
  padding: 2px;
}
.accDetails li p{
  font-family: monospace, system-ui, sans-serif;
  font-style: normal;
  text-align: left;
  text-decoration: : none;
  font-variant: normal;
  font-weight: normal;
  font-size:0.3em;
  color: deeppink;
  display: flex;
}

.parkinglist ul{
  font-family: monospace, system-ui, sans-serif;
  font-style: normal;
  text-align: left;
  text-decoration: : none;
  font-variant: normal;
  font-weight: normal;
  font-size:0.3em;
  color: darkcyan;
  display: inline-block;
  padding: 10px;
}

.accSupport{
  display: grid;
  grid-template-rows: 60px;
  float: left;
  width: 25%;
  padding: 20px;
}



.faqDescription{   
  font-family: monospace, system-ui, sans-serif;
  font-style: normal;
  text-decoration: : none;
  font-variant: normal;
  font-weight: normal;
  font-size:0.9em;
  color: darkcyan;
  width: 80%;
  display: inline-block;
  padding: 10px;
}

.faq{
  text-align: left;
  font-family: monospace, system-ui, sans-serif;
  font-style: normal;
  text-decoration: : none;
  font-variant: normal;
  font-weight: normal;
  font-size:0.7em;
  color: darkblue;
  width: 50%;
  display: inline-block;
  padding: 3px;
}




@media screen and (max-width:600px){
  .accSupport{
      width: 100%;
  }
}

@media screen and (max-width:600px){
  .ticketOption{
      width: 100%;
  }
}


/* Footer ---------------------- */
.grid-container-footer {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto;
  grid-template-areas:
  'header header header header header header'
  'nav nav nav nav nav nav'
  'main main main main main main'
  'footer footer footer footer footer footer'
  'contact contact news news followus followus';
}
