/* Class Styles ------------------------------- */

/* Purpose */
/* to keep consistent design */
/* to improve reusability of styles */

/* List */
/* 1. Util */
/* 2. Components */
/* 3. index.html */
/* 4. detail.html */
/* 5. moreInfo.html */

/* Util --------------------------------------- */
/* these are reusabable classes you can use freely like TailwindCSS */
/* written by Joun */

/* - Font Color */
.gray-1 {
  color: #f9f8f7;
}

.gray-2 {
  color: #ece9e8;
}

.gray-3 {
  color: #c0b6b1;
}

.gray-4 {
  color: #736d6a;
}

.gray-5 {
  color: #262423;
}

.orangered {
  color: orangered;
}

.blueviolet {
  color: blueviolet;
}

/* -Font Size */
.font-3xl {
  font-size: 9.044rem;
}

.font-2xl {
  font-size: 6.396rem;
}

.font-xl {
  font-size: 4.523rem;
}

.font-l {
  font-size: 3.199rem;
}

.font-m {
  font-size: 2.262rem;
}

.font-s {
  font-size: 1.6rem;
}

.font-xs {
  font-size: 1.132rem;
}

.font-2xs {
  font-size: 0.8rem;
}

/* - Font Weight */
.bold {
  font-weight: bold;
}

/* - Letter Spacing */
.letter-spacing-10 {
  letter-spacing: -0.1rem;
}

.letter-spacing-15 {
  letter-spacing: -0.15rem;
}

.letter-spacing-20 {
  letter-spacing: -0.2rem;
}

/* - Button */
.button,
.button:link,
.button:visited {
  padding: 0.7rem 2.1rem;
  border-radius: 1rem;
  color: #262423;
  background-color: coral;
  font-weight: bold;
  transition: all 0.1s;
  cursor: pointer;
}

.button:hover,
.button:active {
  background-color: orangered;
  box-shadow: 0.2rem 0.2rem 0 0.2rem #262423;
  transform: translateY(-0.5rem);
}

.button-violet:link,
.button-violet:visited {
  padding: 0.7rem 2.1rem;
  border-radius: 1rem;
  color: #262423;
  background-color: rgb(205, 171, 255);
  font-weight: bold;
  border: 0.1rem solid #262423;
  transition: all 0.1s;
}

.button-violet:hover,
.button-violet:active {
  background-color: rgb(139, 123, 239);
  box-shadow: 0.2rem 0.2rem 0 0.2rem #262423;
  transform: translateY(-0.5rem);
}

/* - Text Link */
.text-link,
.text-link:visited,
.text-link:link {
  margin: auto 0;
  padding-bottom: 0.2rem;
  border-bottom: 0.2rem solid transparent;
  transition: all 0.1s;
}

.text-link:hover,
.text-link:active {
  border-bottom: 0.2rem solid blueviolet;
  color: blueviolet;
}

/* Components ---------------------------- */
/* written by Joun */

/* Section Head */
.sectionHead {
  display: flex;
  justify-content: space-between;
  justify-items: center;
}

.sectionHead a {
  margin: auto 0;
  padding-bottom: 0.2rem;
  border-bottom: 0.2rem solid transparent;
  transition: all 0.1s;
}

.sectionHead a:hover {
  border-bottom: 0.2rem solid blueviolet;
  color: blueviolet;
}

/* index.html ------------------------------------ */

/* detail.html ------------------------------------ */
/* written by Atsuya */

/* Attraction Section */
.attrInfo {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.attrLimit {
  display: flex;
  justify-content: space-between;
  width: 50%;
}

/* Event Section */
.evInfo {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

/* Dining and Shopping Section */
.diningInfo {
  padding: 4rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background-color: linen;
}

/* Shopping Places Section */
.shopInfo {
  padding: 4rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background-color: linen;
}

/* moreInfo.html ------------------------------------ */
/* written by Alvin */
/* ticket price */
.ticketOption {
  background-color: linen;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem 3rem;

  border: 0.1rem solid #262423;
}

.ticketOption:hover {
  background-color: wheat;
}

.ticketOption ul {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.ticketPrice small {
  display: block;
}

.ticketPrice strong {
  color: orangered;
  display: block;
}

/* accessibility */
.accSupport {
  background-color: linen;
  padding: 2rem;
  border: 0.1rem solid #262423;
}

.accSupport > h3 {
  margin-bottom: 2rem;
}

.accDescription {
  margin: 1rem 0;
}

.accDetails {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  padding: 0 2rem;
}

/* faqs */

.faq summary:hover {
  cursor: pointer;
  color: blueviolet;
}

.faq details {
  opacity: 80%;
}

@media screen and (max-width: 600px) {
  .accSupport {
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
  .ticketOption {
    width: 100%;
  }
}
