/* index.html ------------------------------------*/
#cover {
  background-image: url('../img/index/cover.avif');
  background-repeat:no-repeat;
  background-size: 100vw;
  height: 90vh;
  background-blend-mode: darken();

  display: flex;
  flex-direction: column;
}



/* detail.html ------------------------------------*/
/* moreInfo.html ------------------------------------*/
#ticketOptions {
  grid-area: ticketoptions;
}

#ticketOptions {
  text-align: center;
  width: 100%;
  color: white;
}


#ticketOptions li {
  font-family: monospace, system-ui, sans-serif;
  font-style: normal;
  text-decoration: : none;
  font-variant: normal;
  font-weight: normal;
  font-size:0.7em;
  color: gray;
  display: inline-block;
  padding: 2px;
}

#map{
  text-align:center;
  width: 100%;
}

#accessibility{
  text-align:center;
  width: 100%;
}


#faqs
{
    text-align:center;
    width: 100%;
    padding: 200px;
}
